@model BolsaValores.Models.Usuario

@{
    ViewData["Title"] = "Bolsa de Valores";
}

<h2>Login</h2>

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Senha)
        @Html.PasswordFor(m => m.Senha)
    </div>
    <button type="submit">Entrar</button>
}

@if (ViewBag.Mensagem != null)
{
    <p style="color:red">@ViewBag.Mensagem</p>
}